embyToLocalPlayer-Windows.ini
embyToLocalPlayer-Linux.ini
embyToLocalPlayer-Darwin.ini
embyToLocalPlayer-Android.ini
embyToLocalPlayer.ini
# _config.ini 还支持以上命名，前面优先级高。
.tmp/
mpv_embed/
python_embed/
log.txt
trakt_token.json
